
.slider-scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .scrollbar-track  {
  height:2px ;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius:4px;
  }
  .slider-scrollbar:hover .scrollbar-track{
    height: 4px;
  }
  .scrollbar-thumb{
    position: absolute;
    height:100% ;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
  }
  
  .slider-scrollbar.scrollbar-thumb:active{
      cursor: grabbing;
      height: 8px;
      top:-2px
  }
  
  .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left:0;
    right:0;
    top:-10px;
    bottom: -10px;
  }

  .slider-wrapper .carousel::-webkit-scrollbar {
    display: none;
  
  }